body {
  margin: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#top {
  position: relative;
  text-align: center;
  animation: slide 2s;
}

#board {
  position: relative;
  margin: 0 auto;
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  width: 400px;
  height: 400px;
  animation: swipe 2s;
}

.cell {
  margin: 3px;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

#game-status {
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: x-large;
  animation: slider 2s;
}

#playagain {
  margin: 0 auto;
  width: 200px;
  height: 100px;
  padding: 10px;
  position: relative;
  display: grid;
  place-items: center;
}

@keyframes swipe {
  from {
    right: 100px;
  }
  to {
    right: 0px;
  }
}

@keyframes slide {
  from {
    top: 30px;
  }
  to {
    top: 0px;
  }
}

@keyframes slider {
  from {
    bottom: 30px;
  }
  to {
    bottom: 0px;
  }
}
