body {
  margin: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#top {
  position: relative;
  text-align: center;
}

#board {
  position: relative;
  margin: 0 auto;
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  width: 400px;
  height: 400px;
}

.cell {
  margin: 3px;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

#game-status {
  position: relative;
  text-align: center;
  font-size: x-large;
}
